{include file="public/header,public/nav" /}

    <div class="container">
        <div class="top-container">
            <div class="mid-area">
                <div class="slide-holder" id="slide-holder">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {volist name="featuredBig" id="vo"}
                            <div class="swiper-slide"><a href="http://www.baidu.com" target="_blank"><img src="{$vo.image}" alt="{$vo.title}" ></a></div>
                            {/volist}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="list-container">
                    
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-ad">
                <ul class="slidepic">
                    <li><a><img src="__STATIC__/index/image/72f082025aafa40f9205eb43a364034f79f01968.jpg" /></a></li>
                </ul>
            </div>
            
        </div>


        <div class="content-container">
            <div class="no-recom-container">
                <div class="floor-content-start">
                    {volist name="categories" id="vo"}
                    <div class="floor-content">
                        <div class="floor-header">
                            <h3>{$vo.0}</h3>
                            <ul class="reco-words">
                                {volist name="vo[1]" id="se_vo" length="2"}
                                <li><a href="//t10.nuomi.com/pc/t10/index" target="_blank">{$se_vo.name}</a></li>
                                {/volist}
                                <li><a class="no-right-border no-right-padding" target="_blank">全部<span class="all-cate-arrow"></span></a></li>
                            </ul>
                        </div>
                        <ul class="itemlist eight-row-height">
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info"></div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info"></div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            <li class="j-card">
                                <a>
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                安贞 六里桥 丽泽桥 安定门 劲松 昌平镇 航天桥 通州区 通州北苑
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="__STATIC__/index/image/b219ebc4b74543a9c6c87b8e18178a82b80114a4.jpg" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="//www.nuomi.com/deal/ke0370si.html" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【6店通用】好伦哥</h4>
                                        </div>
                                        <p>单人自助餐！免费WiFi！</p>
                                    </a>
                                    <div class="add-info">
                                        <span class="promo">立减3.6元</span>
                                    </div>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>52</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>56</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售337334</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>

<script type="text/javascript" src="__STATIC__/index/swiper/js/common.js"></script>

</body>
</html>