{include file="public/header,public/nav" /}

    <div class="container">
        <div class="top-container">
            <div class="mid-area">
                <div class="slide-holder" id="slide-holder">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {volist name="featuredBig" id="vo"}
                            <div class="swiper-slide"><a href="http://www.baidu.com" target="_blank"><img src="{$vo.image}" alt="{$vo.title}" ></a></div>
                            {/volist}
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="list-container">
                    
                </div>
            </div>
        </div>
        <div class="right-sidebar">
            <div class="right-ad">
                <ul class="slidepic">
                    <li><a><img src="__STATIC__/index/image/72f082025aafa40f9205eb43a364034f79f01968.jpg" /></a></li>
                </ul>
            </div>
            
        </div>


        <div class="content-container">
            <div class="no-recom-container">
                <div class="floor-content-start">
                    {volist name="bigArray" id="vo"}
                    <div class="floor-content">
                        <div class="floor-header">
                            <h3>{$vo[0]}推荐</h3>
                            <ul class="reco-words">
                                {volist name="$vo[1]" id="vo2"}
                                <li><a href="">{$vo2}</a></li>
                                {/volist}
                                <li><a  class="no-right-border no-right-padding" target="_blank">全部<span class="all-cate-arrow"></span></a></li>
                            </ul>
                        </div>
                        <ul class="itemlist eight-row-height">
                            {if condition="!empty($vo[2])"}
                            {volist name="$vo[2]" id="vo3"}
                            <li class="j-card">
                                <a >
                                    <div class="imgbox">
                                        <ul class="marketing-label-container">
                                            <li class="marketing-label marketing-free-appoint"></li>
                                        </ul>
                                        <div class="range-area">
                                            <div class="range-bg"></div>
                                            <div class="range-inner">
                                                <span class="white-locate"></span>
                                                大连市沙河口区阿迪花园
                                            </div>
                                        </div>
                                        <div class="borderbox">
                                            <img src="{$vo3.image}" />
                                        </div>
                                    </div>
                                </a>
                                <div class="contentbox">
                                    <a href="{:url('detail/index',['id' => $vo3.id])}" target="_blank">
                                        <div class="header">
                                            <h4 class="title ">【{$vo3.location_ids|countLocation}店通用】{$vo3.name}</h4>
                                        </div>
                                        <p>{$vo3.description}</p>
                                    </a>
                                    <div class="pinfo">
                                        <span class="price"><span class="moneyico">¥</span>{$vo3.current_price}</span>
                                        <span class="ori-price">价值<span class="price-line">¥<span>{$vo3.origin_price}</span></span></span>
                                    </div>
                                    <div class="footer">
                                        <span class="comment">4.6分</span><span class="sold">已售{$vo3.buy_count}</span>
                                        <div class="bottom-border"></div>
                                    </div>
                                </div>
                            </li>
                            {/volist}
                            {else /}
                            <div style="text-align: center;font-size: 50px;color: red">暂无团购信息!</div>
                            {/if}
                        </ul>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-content">
        <div class="copyright-info">
            
        </div>
    </div>

<script type="text/javascript" src="__STATIC__/index/swiper/js/common.js"></script>

</body>
</html>